<div class="page-header">
  <h1>Favorite #<%= @favorite.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Apartment</dt>
  <dd><%= @favorite.apartment_id %></dd>

  <dt>Favorited by</dt>
  <dd><%= @favorite.favorited_by_id %></dd>

</dl>
